body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("images/stars.jpeg"); */
  background-color: rgb(33, 33, 33);
}

.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  background: radial-gradient(
    rgb(248, 244, 163),
    rgb(252, 247, 158),
    rgb(252, 247, 154)
  );
  box-shadow: 0 0 60px rgb(253, 203, 163), 0 0 98px rgb(184, 160, 26);
  border-radius: 50%;
  transform: scaleX(0.2);
}

.planets-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scaleX(5);
}

.planet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: scaleX(0.2);
}

.planet:after {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: 50%;
}

.route {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 12s infinite linear;
}

.planet-container {
  position: absolute;
  width: 60px;
  height: 60px;
  animation: correct 12s infinite linear;
}

#second-planet-container {
  left: 85px;
}

#third-planet-container {
  left: 42.5px;
  top: 100px;
}

.planet-index {
  width: 100%;
  height: 100%;
  position: absolute;
}

#first-planet-index {
  animation: hideFirstPlanet 12s infinite;
}

#second-planet-index {
  animation: hideSecondPlanet 12s infinite;
}

#third-planet-index {
  animation: hideThirdPlanet 12s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes correct {
  0% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hideFirstPlanet {
  0% {
    z-index: 999;
    transform: scale(0.9);
  }

  25% {
    z-index: -999;
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    z-index: 999;
    transform: scale(0.9);
  }
}

@keyframes hideSecondPlanet {
  0% {
    z-index: -999;
    transform: scale(0.95);
  }
  50% {
    z-index: 999;
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    z-index: -999;
    transform: scale(0.95);
  }
}

@keyframes hideThirdPlanet {
  0% {
    z-index: 999;
    transform: scale(1.1);
  }

  50% {
    z-index: -999;
    transform: scale(0.8);
  }

  100% {
    z-index: 999;
    transform: scale(1.1);
  }
}

#first-planet {
  animation: firstPlanetRender 12s infinite linear;
}

#first-planet:after {
  animation: firstPlanetRotator 12s infinite linear;
}

#second-planet {
  animation: secondPlanetRender 12s infinite linear;
}

#second-planet:after {
  animation: secondPlanetRotator 12s infinite linear;
}

#third-planet {
  /* background-color: rgb(128, 26, 0); */
  animation: thirdPlanetRender 12s infinite linear;
}

#third-planet:after {
  animation: thirdPlanetRotator 12s infinite linear;
}

@keyframes firstPlanetRender {
  0% {
    background: linear-gradient(
      -90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }

  12% {
    background: linear-gradient(
      -90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }

  12.1% {
    background: linear-gradient(
      90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }
  61.5% {
    background: linear-gradient(
      90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }
  62% {
    background: linear-gradient(
      90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }

  62.1% {
    background: linear-gradient(
      -90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }
  100% {
    background: linear-gradient(
      -90deg,
      rgb(19, 41, 165) 50%,
      rgb(11, 11, 110) 50%
    );
  }
}

@keyframes firstPlanetRotator {
  0% {
    transform: scaleX(-0.2);
    background-color: rgb(19, 41, 165);
  }

  12% {
    transform: scaleX(-1);
    background-color: rgb(19, 41, 165);
  }

  12.1% {
    transform: scaleX(1);
    background-color: rgb(19, 41, 165);
  }

  37% {
    transform: scaleX(0);
    background-color: rgb(19, 41, 165);
  }

  37.1% {
    transform: scaleX(0);
    background-color: rgb(11, 11, 110);
  }

  62% {
    transform: scaleX(-1);
    background-color: rgb(11, 11, 110);
  }

  62.1% {
    transform: scaleX(1);
    background-color: rgb(11, 11, 110);
  }

  87% {
    transform: scaleX(0);
    background-color: rgb(11, 11, 110);
  }

  87.1% {
    transform: scaleX(0);
    background-color: rgb(19, 41, 165);
  }
  100% {
    transform: scaleX(-0.2);
    background-color: rgb(19, 41, 165);
  }
}

@keyframes secondPlanetRender {
  0% {
    background: linear-gradient(
      90deg,
      rgb(64, 134, 64) 50%,
      rgb(36, 92, 36) 50%
    );
  }
  75% {
    background: linear-gradient(
      -90deg,
      rgb(64, 134, 64) 50%,
      rgb(36, 92, 36) 50%
    );
  }

  100% {
    background: linear-gradient(
      90deg,
      rgb(64, 134, 64) 50%,
      rgb(36, 92, 36) 50%
    );
  }
}

@keyframes secondPlanetRotator {
  0% {
    transform: scaleX(0.5);
    background-color: rgb(64, 134, 64);
  }
  15% {
    transform: scaleX(0);
    background-color: rgb(64, 134, 64);
  }
  15.1% {
    transform: scaleX(0);
    background-color: rgb(36, 92, 36);
  }
  40% {
    transform: scaleX(-1);
    background-color: rgb(36, 92, 36);
  }
  40.1% {
    transform: scaleX(1);
    background-color: rgb(36, 92, 36);
  }

  65% {
    transform: scaleX(0);
    background-color: rgb(36, 92, 36);
  }
  65.1% {
    transform: scaleX(0);
    background-color: rgb(64, 134, 64);
  }
  90% {
    transform: scaleX(-1);
    background-color: rgb(64, 134, 64);
  }
  90.1% {
    transform: scaleX(1);
    background-color: rgb(64, 134, 64);
  }
  100% {
    transform: scaleX(0.5);
    background-color: rgb(64, 134, 64);
  }
}

@keyframes thirdPlanetRender {
  0% {
    background: linear-gradient(
      -90deg,
      rgb(180, 8, 8) 50%,
      rgb(128, 26, 0) 50%
    );
  }

  90% {
    background: linear-gradient(90deg, rgb(180, 8, 8) 50%, rgb(128, 26, 0) 50%);
  }
  90.1% {
    background: linear-gradient(90deg, rgb(180, 8, 8) 50%, rgb(128, 26, 0) 50%);
  }
  99% {
    background: linear-gradient(90deg, rgb(180, 8, 8) 50%, rgb(128, 26, 0) 50%);
  }
  99.1% {
    background: linear-gradient(90deg, rgb(180, 8, 8) 50%, rgb(128, 26, 0) 50%);
  }
  100% {
    background: linear-gradient(
      -90deg,
      rgb(180, 8, 8) 50%,
      rgb(128, 26, 0) 50%
    );
  }
}

@keyframes thirdPlanetRotator {
  0% {
    transform: scaleX(1);
    background-color: rgb(128, 26, 0);
  }
  25% {
    transform: scaleX(0);
    background-color: rgb(128, 26, 0);
  }
  25.1% {
    transform: scaleX(0);
    background-color: rgb(180, 8, 8);
  }
  49% {
    transform: scaleX(-1);
    background-color: rgb(180, 8, 8);
  }
  49.1% {
    transform: scaleX(1);
    background-color: rgb(180, 8, 8);
  }
  75% {
    transform: scaleX(0);
    background-color: rgb(180, 8, 8);
  }
  75.1% {
    transform: scaleX(0);
    background-color: rgb(128, 26, 0);
  }
  100% {
    transform: scaleX(1);
    background-color: rgb(128, 26, 0);
  }
}
